<div class="carousel carousel-animated carousel-animate-slide" data-autoplay="true">
    <div class="carousel-container">
      {% for image in images %}
        <div class="carousel-item has-background">
          <img class="is-background" src="{{ image }}" alt="" width="640" height="310" />
        </div>
      {% endfor %}
    </div>
    <div class="carousel-navigation is-overlay">
      <div class="carousel-nav-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="carousel-nav-right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  