<div class="container">
    <h2 class="center-align">Features</h2>
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">security</i></h2>
          <h5 class="center">Safe and secure with us.</h5>
  
          <p class="light">We use the latest security technologies to protect your data and ensure that your information is safe and secure.</p>
        </div>
      </div>
  
      <div class="col s12 m6 l4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">timeline</i></h2>
          <h5 class="center">Effortless efficiency.</h5>
  
          <p class="light">Our system is designed to be efficient and easy to use, saving you time and hassle when managing your finances.</p>
        </div>
      </div>
  
      <div class="col s12 m6 l4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">More bang for your buck.</h5>
  
          <p class="light">We offer competitive pricing and a variety of pricing plans to fit your budget and meet your needs.</p>
        </div>
      </div>
    </div>
  </div>
  